BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignEscapedNewlines: Left
AlignTrailingComments:
  Kind: Always
